@import 'fonts.min.css';

:root {
    --sans-serif: 'Open Sans', sans-serif;
    --monospace: 'Source Code Pro', monospace;
    --ledge-height: 3em;
    --ledge-margin-bottom: 1em;
    --container-offset: calc(var(--ledge-height) + var(--ledge-margin-bottom));

    /* colors */
    --mint: #DDFFE7;
    --spearmint: #98D7C2;
    --teal-green: #167D7F;
    --teal: #29A0B1;
    --light-gray: #DDD;
    --ice-gray: #F5F5F5;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-padding-top: var(--container-offset);
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--sans-serif);
    font-size: 16px;
    line-height: 1.5;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.ledge-container {
    height: var(--ledge-height);
    margin-bottom: var(--ledge-margin-bottom);
}

.ledge {
    display: grid;
    grid-template-columns: 1fr 40em 1fr;
    align-items: center;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: var(--ledge-height);
    background: var(--teal-green);
    box-shadow: 0 2px 4px #0003;
    --search-padding-y: 5px;
    --search-padding-x: 10px;
}

.ledge>.name {
    color: white;
    font-size: 18px;
    margin-left: 2em;
}

.ledge>.name .package {
    font-weight: bold;
}

#searchbar {
    display: block;
    width: 100%;
    border: none;
    font-size: 16px;
    padding: var(--search-padding-y) var(--search-padding-x);
    border-radius: 4px;
    background-color: #ffffff50;
    color: white;
    transition: background-color 50ms linear;
}

#searchbar:focus {
    outline: none;
    background-color: #ffffff60;
}

#searchbar:focus::placeholder {
    color: transparent;
}

#searchbar.performed {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#search-results-container {
    position: relative;
    left: auto;
    right: auto;
    width: 100%;
}

#search-results {
    display: block;
    position: absolute;
    top: 0;
    left: auto;
    right: auto;
    width: 100%;
    max-height: 20ex;
    overflow-y: scroll;
    background: white;
    box-shadow: 0 2px 4px #0003;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

#search-results>* {
    padding: 0 var(--search-padding-x);
}

#search-results>.no-results {
    font-style: italic;
}

#search-results>a {
    display: block;
    width: 100%;
}

#search-results>a:hover {
    background: var(--spearmint);
    text-decoration: none;
}

#searchbar:not(.performed)+#search-results__positioner {
    visibility: hidden;
}

.container {
    display: flex;
    justify-content: center;
    gap: 0 5em;
    margin: 1em auto;
    width: 90%;
}

.sidebar {
    position: sticky;
    top: var(--container-offset);
    overflow-y: scroll;
    height: 100%;
}

.sidebar>.title {
    display: block;
    font-size: 17px;
    font-weight: 900;
    margin: 0.5em 0;
}

.sidebar>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0.2em 0;
    padding: 0.2em 0;
    font-weight: bold;
}

h1 {
    margin-top: 0;
    padding-top: 0;
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 19px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 17px;
}

:target {
    animation: flash 0.5s ease-in;
    animation-fill-mode: forwards;
    border-radius: 4px;
}

@keyframes flash {
    0% {
        background-color: var(--spearmint);
    }

    100% {
        background-color: var(--ice-gray);
    }
}

.subheading {
    position: relative;
}

.subheading:not(.declaration) {
    border-top: 1px solid var(--light-gray);
}

.subheading>a:first-of-type:hover::before {
    content: '§';
    position: absolute;
    left: -1em;
}

.subheading.declaration {
    font-weight: normal;
    font-family: var(--monospace);
}

.subheading.declaration a.binder {
    font-weight: bold;
}

.subheading a.source {
    float: right;
    font-family: var(--sans-serif);
    font-style: italic;
    font-size: smaller;
    /* @Task add to palette */
    color: #999;
}

.binder.deprecated {
    text-decoration: line-through;
}

.indented {
    margin-left: 2em;
}

section {
    padding: 0.5em 0;
}

section.main {
    width: 50%;
    padding-top: 0;
}

/********** labels: **********/

.labels {
    display: flex;
    gap: 10px;
    font-size: 15px;
    margin-left: 4em;
}

.labels>* {
    padding: 0 14px;
    border-radius: 2px;
}

.labels .attribute {
    background-color: var(--ice-gray);
}

.labels .attribute::before {
    content: '@';
}

.labels .deprecated {
    background: rgb(253, 224, 160);
}

.labels .experimental {
    background: rgb(144, 240, 253);
}

.labels .unsafe {
    background: rgb(255, 163, 130);
}

.labels .internal {
    background: rgb(206, 168, 255);
}

/********** :labels **********/

.description {
    margin-left: 2em;
    text-align: justify;
    /* @Note probably not what we want for tables */
    line-height: 1.7;
}

.description p {
    margin: 0.25em 0;
    padding: 0;
    text-align: justify;
    line-height: 1.7;
}

.description a {
    /* @Task better color */
    color: var(--teal-green);
}

/********** module tables: **********/

table.modules {
    border-collapse: collapse;
}

table.modules td {
    vertical-align: text-top;
    border: none;
    padding: 0;
}

table.modules td:not(:last-of-type) {
    padding-right: 3em;
}

table.modules a.binder {
    font-weight: 600;
}

/********** :module tables **********/
