@import 'fonts.css';

:root {
    --ledge-height: 3em;
    --ledge-margin-bottom: 1em;
    /* colors */
    --mint: #DDFFE7;
    --spearmint: #98D7C2;
    --teal-green: #167D7F;
    --teal: #29A0B1;
    --sans-serif: 'Open Sans', sans-serif;
    --monospace: 'Source Code Pro', monospace;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    scroll-padding-top: calc(var(--ledge-height) + var(--ledge-margin-bottom));
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--sans-serif);
    font-size: 16px;
}

.ledge__positioner {
    height: var(--ledge-height);
    margin-bottom: var(--ledge-margin-bottom);
}

.ledge {
    display: flex;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: var(--ledge-height);
    background: var(--teal-green);
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px #0004;
    --search-padding-y: 5px;
    --search-padding-x: 10px;
}

#js-searchbar {
    display: block;
    width: 40em;
    border: none;
    font-size: 16px;
    padding: var(--search-padding-y) var(--search-padding-x);
    border-radius: 4px;
    background-color: #ffffff50;
    color: white;
    transition: background-color 50ms linear;
}

#js-searchbar:focus {
    outline: none;
    background-color: #ffffff60;
}

#js-searchbar:focus::placeholder {
    color: transparent;
}

#js-searchbar.performed {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#search-results__positioner {
    position: relative;
    left: auto;
    right: auto;
    width: 100%;
}

#js-search-results {
    display: block;
    position: absolute;
    top: 0;
    left: auto;
    right: auto;
    width: 100%;
    padding: var(--search-padding-y) var(--search-padding-x);
    background: white;
    box-shadow: 0 2px 4px #0004;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

#js-searchbar:not(.performed) + #search-results__positioner {
    visibility: hidden;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 1em auto;
    width: 90%;
}

.main {
    width: 50%;
}

.sidebar > .title {
    display: block;
    font-size: 18px;
    font-weight: 900;
    margin: 0.5em 0;
    text-decoration: inherit;
    color: inherit;
}

.sidebar > ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0.5em;
}

.sidebar > ul > li {
    line-height: 1.4;
}

/* @Task introduce class for robustness */
.sidebar > ul > li > a {
    color: inherit;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0.5em 0;
    font-weight: bold;
}

h1 a, .subheading a {
    color: inherit;
    text-decoration: inherit;
}

h1 a:hover {
    /* @Note inconsistent with .subheading.declaration:hover (no underline) */
    text-decoration: underline;
}

h1 a.active {
    color: rgb(28, 130, 177);
}

:target {
    animation: flash 0.5s ease-in;
    animation-fill-mode: forwards;
    border-radius: 4px;
}

@keyframes flash {
    0% {
        background-color: var(--spearmint);
    }
    
    100% {
        background-color: #eee;
    }
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 19px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 17px;
}

.subheading {
    position: relative;
}

.subheading:not(.declaration) {
    border-top: 1px solid #ddd;
}

.subheading > a:first-of-type:hover::before {
    content: '§';
    position: absolute;
    left: -1em;
}

.subheading.declaration {
    font-weight: normal;
    font-family: var(--monospace);
}

.subheading.declaration a.binder {
    font-weight: bold;
}

.indent {
    margin-left: 2em;
}

section {
    padding: 0.5em 0;
}

a.reference {
    color: #1d90a1;
    text-decoration: inherit;
}

p {
    /* @Question hoist the line-height? */
    line-height: 1.7;
    margin: 0.25em 0 0.25em 2em;
    padding: 0;
    text-align: justify;
}

/* @Temporary */
.attributes {
    color: gray;
}
