:root {
    --ledge-height: 3em;
    --ledge-margin-bottom: 1em;
    /* colors */
    --mint: #DDFFE7;
    --spearmint: #98D7C2;
    --teal-green: #167D7F;
    --teal: #29A0B1;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    scroll-padding-top: calc(var(--ledge-height) + var(--ledge-margin-bottom));
}

body {
    margin: 0;
    padding: 0;
}

.ledge__positioner {
    height: var(--ledge-height);
    margin-bottom: var(--ledge-margin-bottom);
}

.ledge {
    display: flex;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: var(--ledge-height);
    background: var(--teal-green);
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px #0004;
    --search-padding-y: 5px;
    --search-padding-x: 10px;
}

#js-searchbar {
    display: block;
    width: 40em;
    border: none;
    font-size: 16px;
    padding: var(--search-padding-y) var(--search-padding-x);
    border-radius: 4px;
    background-color: #ffffff50;
    color: white;
    transition: background-color 50ms linear;
}

#js-searchbar:focus {
    outline: none;
    background-color: #ffffff60;
}

#js-searchbar:focus::placeholder {
    color: transparent;
}

/* #js-searchbar.performed {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
} */

#search-results__positioner {
    position: relative;
    left: auto;
    right: auto;
    width: 100%;
}

#search-results {
    display: block;
    position: absolute;
    top: 0;
    left: auto;
    right: auto;
    width: 100%;
    padding: var(--search-padding-y) var(--search-padding-x);
    background: white;
    box-shadow: 0 2px 4px #0004;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

#js-searchbar:not(.performed) + #search-results__positioner {
    visibility: hidden;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 1em auto;
    width: 90%;
}

.main {
    width: 50%;
}

.sidebar > .title {
    display: block;
    font-size: 18px;
    font-weight: 900;
    font-family: sans-serif;
    margin: 0.5em 0;
    text-decoration: inherit;
    color: inherit;
}

.sidebar > ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0.5em;
}

.sidebar > ul > li {
    line-height: 1.4;
}

/* @Task introduce class for robustness */
.sidebar > ul > li > a {
    color: inherit;
    text-decoration: none;
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}

/* @Task don't use h1 stuff for this but sth like .module-path/.path-breadcrumb-bar */

h1 > a {
    color: inherit;
    text-decoration: inherit;
}

h1 > a:hover {
    text-decoration: underline;
}

h1 > a.current {
    color: rgb(28, 130, 177);
}

code {
    font-size: normal;
    font-family: 'DejaVu Sans Mono', 'Source Code Pro', monospace;
}

.identifier {
    font-family: sans-serif;
    text-decoration: inherit;
    color: inherit;
}

:target {
    background-color: var(--spearmint);
}

.heading {
    position: relative;
    margin: 0;
    padding: 0.5em 0;
}

.heading:hover::before {
    content: '§';
    position: absolute;
    left: -1em;
}

.heading a:not(.source), code > a {
    color: inherit;
    text-decoration: inherit;
}

.heading.binding {
    display: flex;
    justify-content: space-between;

    /* @Beacon @Beacon @Beacon @Temporary */
    /* border: 1px solid red; */
}

/* @Note this still looks ugly! */
.heading a.source {
    display: block;
    margin: auto 0;
    font-weight: bold;
    font-size: 80%;
    color: #bbb;
    text-decoration: inherit;
}

/* @Beacon @Beacon @Beacon @Temporary  */
/* section {
    border: 1px solid blue;
} */

section > * {
    margin-left: 1em;
}

a.reference {
    color: var(--teal);
    text-decoration: inherit;
}

p {
    padding-left: 1em;
    width: 90%;
    line-height: 1.5;
}

/* @Temporary */
.attributes {
    color: gray;
}

.keyword {
    color: var(--teal-green); 
}
